<div ng-init="init()">
  <div class="well" ng-show="loaded">
    <h4>{{product.name}}
      <span class="btn btn-primary pull-right"
            ng-show="$root.currentUser"
            ng-click="watch(!watched)">
        {{watched?"取消关注":"关注"}}
      </span>

      <div>
        <span class="small">{{detail.developer}}</span>
      </div>
    </h4>

    <div class="label label-default">{{detail.category}}</div>
    <p>

    </p>

    <p>{{detail.description}}
      <span class="label label-info">{{detail.source}}</span>
    </p>

  </div>
  <div>

    <div class="row">
      <div class="col-lg-6 col-sm-6"
           ng-show="chart.show"
           ng-repeat="chart in charts">
        <canvas width="300" height="125" id="{{chart.domId}}"></canvas>
        <div style="text-align: center;">
          {{chart.name}}
        </div>
      </div>
    </div>

    <div ng-show="debug">
      <h4>product</h4>
      <pre>{{product|json}}</pre>
      <h4>detail</h4>
      <pre>{{detail|json}}</pre>
      <h4>news</h4>
      <pre>{{newss|json}}</pre>
    </div>
    <!--<pre>{{chartRateValue|json}}</pre>-->
    <!--<pre>{{chartRateCount|json}}</pre>-->
    <!--<pre>{{chartCommentCount|json}}</pre>-->
  </div>
</div>
